* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  background-color: pink;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header h1 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #FFFFF0;
  font-family: 'Pacifico', cursive;
}


.header p {
  font-size: 1rem;
  opacity: 0.9;
  max-width: 800px;
  color: #FFFFF0;
  font-family: 'Pacifico', cursive;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 40px 20px;
  background-color: #FFFFF0;
}

.recobutton {
  background-color: mediumseagreen;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s;
}

.searchbutton {
  background-color: skyblue;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s;
}

.recobutton:hover {
  background-color: mediumseagreen;
  transform: scale(1.05);
}

.searchbutton:hover {
  background-color: skyblue;
  transform: scale(1.05);
}

.footer {
  background-color: pink;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}
